django-rangefilter==0.9.1
asgiref==3.6.0
certifi==2023.5.7
Django>=3
django-cors-headers==4.0.0
django-filter==23.2
djangorestframework==3.14.0
gevent==22.10.2
greenlet==2.0.2
pytz==2023.3
sqlparse==0.4.4
zope.event==4.6
zope.interface==6.0
gunicorn
drf-yasg
drf_spectacular
rest-framework-simplejwt==0.0.2